@using BlazorWasm.Components

<p>
  Step with Steps <b>without</b> using InvokeAsync.
</p>
<p>
  Number is updated instantly.
</p>
<RadzenSteps>
  <Steps>
    <RadzenStepsItem Text="Tab 1">
      <Tab1 @bind-Application="BoundApplication" SectionId="1" />
    </RadzenStepsItem>
    <RadzenStepsItem Text="Tab 2">
      <Tab2 @bind-Application="BoundApplication" SectionId="1" />
    </RadzenStepsItem>
  </Steps>
</RadzenSteps>

@code {
  
  [Parameter]
  public int SectionId { get; set; }

  [Parameter]
  public ApplicationVM Application { get; set; }

  [Parameter]
  public EventCallback<ApplicationVM> ApplicationChanged { get; set; }

  private ApplicationVM BoundApplication
  {
    get => Application;
    set => ApplicationChanged.InvokeAsync(value);
  }

  protected override void OnInitialized()
  {
    Console.WriteLine("Step4 Initialized");
  // console.Log("Parameter Set");
  }

  protected override void OnParametersSet()
  {
    Console.WriteLine("Step4 ParameterSet");
  // console.Log("Parameter Set");
  }

}