@page "/expander"

<ExpanderUpdated Expanded="true">
    Expander 1 content
</ExpanderUpdated>

<ExpanderUpdated Expanded="true" />

<button @onclick="StateHasChanged">
    Call StateHasChanged
</button>